<h3>我的所有订单</h3>
<hr>

<%=@orders.each do |order|%>
<h4>订单号：<%=order.id%>  订单日期：<%=order.created_at%></h4>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">商品图片</th>
			<th scope="col">商品名称</th>
			<th scope="col">商品价格</th>
			<th scope="col">商品数量</th>
		</tr>
	</thead>
	<tbody>
    <% order.product_lists.each do |productList|%>
  		<tr>
        <td>
          <%=link_to(product_path(Product.find_by(title:productList.title))) do %>
            <%=image_tag(Product.find_by(title:productList.title).product_img.thumb.url) %>
          <%end%>
        </td>
  			<td><%=link_to(productList.title,product_path(Product.find_by(title:productList.title)))%></td>
        <td><%=productList.price%></td>
        <td><%=productList.quantity%></td>
  		</tr>
		<% end%>
	</tbody>
</table>
<div class="pull-right">
  <span>总计：$<%=order.totalPrice%></span>
</div>


<h5>寄送信息</h5>
购买人姓名：
<%=order.billing_name%>
<br>
收件人姓名：
<%=order.shipping_name%>
收件人地址：
<%=order.shipping_address%>
<hr>
<%end%>
