<h3>上架商品</h3>
<%= simple_form_for [:admin,@product] do |f| %>
 <%= f.input :title,:label =>"商品名称" %>
 <%= f.input :description,:label =>"商品描述" %>
 <%= f.input :price,:label =>"价格" %>
 <%= f.input :quantity,:label =>"数量" %>
 <%= f.submit "提交",class:"btn btn-primary" %>
 
<%end%>