<h3>商品详情</h3>
<div class="row">
	<div class="col-md-4">
  		 <%if @product.product_img.present? %>
  		  <%=image_tag(@product.product_img.medium.url, class: "thumbnail") %>
  		 <%else %>
  		   <%=image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
  		 <%end %>
	</div>
	<div class="col-md-8">
		<h4><%= @product.title %></h4>
		<div style="height:100px">
			<p><%= @product.description %></p>
		</div>
		<div class="product-price">
			$<%= @product.price %>
		</div>	
		<div>
			数量:<%= @product.quantity %>
		</div>	
		<div class="">
			<%= link_to("加入购物车","#",class:"btn btn-danger") %>
		</div>
		
	</div>
	
</div>