<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">京东商城</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        <ul class="nav navbar-nav">
		          <li class="active">
		            <%= link_to("商品", products_path) %>
		          </li>
		        </ul>
            <ul class="nav navbar-nav pull-right ">
             <li class="active">
               <%= link_to(cart_path(get_current_cart)) do %>
               <%# current_cart是方法(@current_cart才是实例变量)，不能在html调用，所以要在application_controller中定义为helper_method %>
                <li>购物车( <%=get_current_cart.products.count%>)</li>
               <%end%>
             </li>
           </ul>
            <ul class="nav navbar-nav navbar-right">

				                <% if !current_user %>
				                 <li><%= link_to("注册", new_user_registration_path) %> </li>
				                 <li><%= link_to("登入", new_user_session_path) %></li>
				               <% else %>
				                 <li class="dropdown">
				                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                       Hi!, <%= current_user.email %>
				                        <b class="caret"></b>
				                   </a>
				                    <ul class="dropdown-menu">
				                        <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
            								    <%if current_user && current_user.admin? %>
            								      <li> <%= link_to("管理员面板", admin_products_path) %> </li>
                                  <li> <%= link_to("全部订单", admin_orders_path) %> </li>
            								    <%end%>
                                <li> <%= link_to("我的订单", account_orders_path) %> </li>

				                   </ul>
				                 </li>
				               <% end %>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
